
@model  List<TravelAgency.Models.TourViewModel>

@*<div class="row">*@
<div id="toursContainer" class="row container-fluid">
    <section class="page-section bg-light" id="portfolio" style="width: 100%;">
        <div class="container-fluid">
            @foreach (var item in Model)
            {
                @*<div class="col-12 col-sm-6 col-md-4 col-lg-3 travel-card">
                    <div class="card">*@
                <div class="col-lg-4 col-sm-6 mb-4">
                    <div class="portfolio-item">
                        <a class="portfolio-link" data-toggle="modal" href="#@item.FullIdentity">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid img-fluid2" src="@item.Image" alt="" />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">@item.Hotel</div>
                            <div class="portfolio-caption-subheading text-muted">Location: @item.LocationResortPlace</div>

                            <a class="portfolio-link" data-toggle="modal" href="#@item.FullIdentity">
                                <button class="btn btn-primary">
                                    MORE
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

                <!--<img class="card-img-top img-fluid p-2" src="@item.Image" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title">@item.Hotel</h3>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text">Location: <strong>@item.Flight</strong></p>
                    <p class="card-text">Flight from: <strong>@item.Flight</strong></p>
                    <p class="card-text">@item.Price</p>-->
                @*<a href="/Tour/Edit" class="btn btn-primary">Edit</a>*@
                <!--@Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </div>-->
                @*</div>
                    </div>*@}
        </div>
    </section>
</div>
@*</div>*@

@foreach (var item in Model)
{
    <div class="portfolio-modal modal fade" id="@item.FullIdentity" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal"><img src="~/AdditionalTemplateComponents/assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body">
                                <!-- Project Details Go Here-->
                                <h2 class="text-uppercase">@item.Hotel</h2>
                                <p class="item-intro text-muted">ID: @item.Id</p>
                                <img class="img-fluid d-block mx-auto" src="@item.Image" alt="" />
                                <p class="standart-description">@item.Description</p>
                                @*<ul class="list-inline">
                                        <li><strong>Difficaltly:</strong> @item.Price</li>
                                        <li><strong>EscapeRate:</strong> @item.Price</li>
                                        <li><strong>Rating:</strong> @item.Price</li>
                                        <li><strong>CompanyName:</strong> @item.Price</li>
                                    </ul>*@
                                <div class="card-body">
                                    <div class="main">
                                        <div class="right-col spec-block-style">
                                            <p>
                                                <h2 class="card-title m0 justify-content-center justify-content-center text-center gold-text"> - About Tour - </h2>
                                            </p>
                                            <table id="customers">
                                                <tr>
                                                    <th>Category</th>
                                                    <th>Info</th>
                                                </tr>
                                                <tr>
                                                    <td>Telephone:</td>
                                                    <td> @item.Telephone</td>
                                                </tr>
                                                <tr>
                                                    <td>ResortNights:</td>
                                                    <td> @item.ResortNights</td>
                                                </tr>
                                                <tr>
                                                    <td>Price:</td>
                                                    <td>@item.Price @item.Valute</td>
                                                </tr>
                                                <tr>
                                                    <td>MaxAmountPeople:</td>
                                                    <td> @item.MaxAmountPeople</td>
                                                </tr>
                                                <tr>
                                                    <td>MinAmountPeople:</td>
                                                    <td> @item.MinAmountPeople</td>
                                                </tr>
                                                <tr>
                                                    <td>Rating:</td>
                                                    <td> @item.Rating / 10</td>
                                                </tr>
                                                <tr>
                                                    <td>MealType:</td>
                                                    <td> @item.MealType </td>
                                                </tr>
                                                <tr>
                                                    <td>LocationFirstFlight:</td>
                                                    <td> @item.LocationFirstFlight</td>
                                                </tr>
                                                <tr>
                                                    <td>LocationResortPlace:</td>
                                                    <td> @item.LocationResortPlace</td>
                                                </tr>
                                                <tr>
                                                    <td>Flight:</td>
                                                    <td> @item.Flight</td>
                                                </tr>
                                                <tr>
                                                    <td>TypeRoom:</td>
                                                    <td> @item.TypeRoom</td>
                                                </tr>
                                                @*<tr>
                                                        <td>Address:</td>
                                                        <td> @ViewBag.CurrentElement.Address</td>
                                                    </tr>*@
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- Slideshow container -->
                                <div class="slideshow-container">
                                    <p> <h2 class="card-title m0 justify-content-center justify-content-center text-center"> - Gallary - </h2></p>

                                    <script>
                                        var i; //mySlides
                                        var name = "count-of-images" + _@item.Id;
                                        var slides = document.getElementsByClassName(name);
                                        //alert(slides.length);
                                        var dots = document.getElementsByClassName("dot");
                                        if (n > slides.length) { slideIndex = 1 }
                                        if (n < 1) { slideIndex = slides.length }
                                        for (i = 0; i < slides.length; i++) {
                                            slides[i].style.display = "none";
                                        }
                                        for (i = 0; i < dots.length; i++) {
                                            dots[i].className = dots[i].className.replace(" active", "");
                                        }
                                        slides[slideIndex - 1].style.display = "block";
                                        slides[slideIndex - 1].style.opacity = 1;
                                        dots[slideIndex - 1].className += " active";
                                    </script>

                                    <div class="count-of-images_@item.Id">
                                        @foreach (var item2 in item.ImageForGallaries)
                                        {

                                            @*<p>@item.Id - tour; @item2.TourId - gal</p>*@
                                            <div class="mySlides fade">
                                                <img class="image-from-gallary" alt="sorry, image not found" src="@item2" style="width:100%">
                                            </div>

                                        }
                                    </div>
                                    @*<div class="mySlides fade">
                                            <div class="numbertext">2 / 3</div>
                                            <img src="~/AdditionalTemplateComponents/assets/img/logos/logo-room.png" style="width:100%">
                                            <div class="text">Caption Two</div>
                                        </div>

                                        <div class="mySlides fade">
                                            <div class="numbertext">3 / 3</div>
                                            <img src="~/AdditionalTemplateComponents/assets/img/logos/logo-room.png" style="width:100%">
                                            <div class="text">Caption Three</div>
                                        </div>*@


                                    <!-- Next and previous buttons -->
                                    <a id="prevID" class="prev" style="text-align: left" onclick="plusSlides(-1, @item.Id)">&#10094;</a>
                                    <a class="next" onclick="plusSlides(1, @item.Id)">&#10095;</a>
                                </div>
                                <br>

                                <!-- The dots/circles -->
                                <div style="text-align:center;">
                                    @for (int i = 1; i < item.CountImage; i++)
                                    {
                                        <span class="dot" onclick="currentSlide(@i, @item.Id)"></span>
                                    }
                                    @*@foreach (var item2 in item.ImageForGallaries)
                                        {


                                        }*@

                                </div>
                                <div class="m-t-30">
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fas fa-times mr-1"></i>
                                        Close Project
                                    </button>
                                    <a href="/Home/ShowMoreQuestRoom/@item.Id">
                                        <button class="btn btn-primary">
                                            Order
                                        </button>
                                    </a>
                                    <a href="/Tour/Edit/@item.Id">
                                        <button class="btn btn-primary">
                                            Order
                                        </button>
                                    </a>
                                    @*<a class="nav-link" href="~/Tour/Edit">Message</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>}
